<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @exchange.name %>
</p>

<p>
  <strong>Nonce:</strong>
  <%= @exchange.nonce %>
</p>

<p>
  <strong>Signature:</strong>
  <%= @exchange.signature %>
</p>

<p>
  <strong>Apikey:</strong>
  <%= @exchange.apikey %>
</p>

<%= link_to 'Edit', edit_exchange_path(@exchange) %> |
<%= link_to 'Back', exchanges_path %>
