<%= form_for(@holding) do |f| %>
  <% if @holding.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@holding.errors.count, "error") %> prohibited this holding from being saved:</h2>

      <ul>
      <% @holding.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :balance %><br>
    <%= f.text_field :balance %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
