<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @holding.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @holding.user_id %>
</p>

<p>
  <strong>Balance:</strong>
  <%= @holding.balance %>
</p>

<%= link_to 'Edit', edit_holding_path(@holding) %> |
<%= link_to 'Back', holdings_path %>
