<p id="notice"><%= notice %></p>

<p>
  <strong>Price range:</strong>
  <%= @alert.price_range %>
</p>

<p>
  <strong>Percentage difference:</strong>
  <%= @alert.percentage_difference %>
</p>

<%= link_to 'Edit', edit_alert_path(@alert) %> |
<%= link_to 'Back', alerts_path %>
