<script type="text/javascript">
navdash = document.getElementById("navdash");
      navtrans = document.getElementById("navtrans");
      navtran = document.getElementById("navtran");
      navhold = document.getElementById("navhold");
      navdash.className = ""
      navtrans.className = ""
      navtran.className = "active"
      navhold.className = ""
</script>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>UserName </th>
        <th>Type</th>
        <th>Btc </th>
        <th>Usd </th>
        <th>Exchange</th>
        <th>Created At </th>
      </tr>
    </thead>

    <tbody>
      <% @transactions.each do |transaction| %>
        <tr>
          <td><%= link_to transaction.id, transaction %> </td>
          <td><%= transaction.username %> </td>
          <td><%= transaction.order_type %> </td>
          <td><%= transaction.btc %> </td>
          <td><%= transaction.usd %> </td>
          <td><%= transaction.exchange.name %> </td>
          <td><%= transaction.created_at %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>


<br>

<a href="javascript:history.back()">Back</a><br/>
