<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>UserName </th>
        <th>Created At </th>
        <th>Btc </th>
        <th>Usd </th>
        <th>Exchange Id </th>
      </tr>
    </thead>

    <tbody>
      <% @transactions.each do |transaction| %>
        <tr>
          <td><%= link_to transaction.id, transaction %> </td>
          <td><%= transaction.username %> </td>
          <td><%= transaction.created_at %> </td>
          <td><%= transaction.btc %> </td>
          <td><%= transaction.usd %> </td>
          <td><%= transaction.exchangeid %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<a href="javascript:history.back()">Back</a><br/>
