<% if user_signed_in? %>
<script type="text/javascript">
navdash = document.getElementById("navdash");
      navtrans = document.getElementById("navtrans");
      navtran = document.getElementById("navtran");
      navhold = document.getElementById("navhold");
      navdash.className = ""
      navtrans.className = ""
      navtran.className = "active"
      navhold.className = ""
</script>

        <table class="table table-striped">
          <tbody>
            <tr>
              <th>UserName</th>
              <th>Created At</th>
              <th>Btc</th>
              <th>Usd</th>
              <th>Exchangeid</th>
            </tr>
            <tr>
              <td><%= @transaction.username %></td>
              <td><%= @transaction.created_at %></td>
              <td><%= @transaction.btc %></td>
              <td><%= @transaction.usd %></td>
              <td><%= @transaction.exchangeid %></td>
            </tr>
          </tbody>
        </table>
<% end %>


<%= link_to 'Back', transactions_path %>
