<!DOCTYPE html>
<html>
<head>
  <title>sp142ndm</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <!-- include javascript, jQuery FIRST -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
    <%= csrf_meta_tags %>
    <script>
      function updateVals(){
        jQuery.ajax({ 
          type: 'GET',
          url: '/home/ticker' ,
          dataType: 'json', 
          success: function(data) { 
            var bsInfo = data.bitstamp;
            element = document.getElementById("bsVal");
            var val = element.textContent;
            val = val.substring(1);
            var bsVal = parseFloat(val);
            element.textContent = "$"+bsInfo;
            var newBsVal = parseFloat(bsInfo);
            element = document.getElementById("bsLbl");
            if(newBsVal > bsVal){
              element.className = "label label-success"
            }
            else if(newBsVal==bsVal){
              element.className = "label label-primary"
            }
            else
              element.className = "label label-danger"

            var cbInfo = data.coinbase;
            element = document.getElementById("cbVal");
            val = element.textContent;
            val  = val.substring(1);
            var cbVal = parseFloat(val);
            element.textContent = cbInfo;
            var newCbVal = parseFloat(cbInfo.substring(1));
            element = document.getElementById("cbLbl");
            if(newCbVal > cbVal){
              element.className = "label label-success"
            }
            else if(newCbVal==cbVal){
              element.className = "label label-primary"
            }
            else
              element.className = "label label-danger"
          }
        });
    }
    $(document).ready(function(){
      updateVals();
      $('#nav_1328069').addClass('nav');
      $('#nav_1328069').addClass('dropdown');
      $('#nav_1328069').addClass('navbar-nav');
      $('#nav_1328069 li.selected').addClass('active');
      $('.navbar-toggle').click(function(event) {
        $('.navbar-collapse').collapse('hide');
      });
    });
    window.setInterval(updateVals, 10000);
    </script>
    <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/home/index"><img class="navbar-brand" src="https://en.bitcoin.it/w/images/en/c/cb/BC_Logotype.png" alt="logo"></a>
      </div>
      <% if user_signed_in? %>
        <div class="navbar-text navbar-right">
          <span class="label label-primary" id="bsLbl">Bitstamp:<span id="bsVal">$<!--%= Bitstamp::Ticker.last %--></span></span>
          <span class="label label-primary" id="cbLbl">Coinbase:<span id="cbVal"><%= @cb2 %></span></span>
          <div class="btn-group">
                  <a class="btn btn-default" data-toggle="dropdown" href="#"><%= current_user.username %></a><a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">    <span class="caret"></span>  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <%= link_to "Edit Profile", edit_user_registration_path %>
                    </li>
                    <li>
                      <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
                    </li>
                  </ul>
          </div>
        </div>
      <% else %>
        <div class="navbar-text navbar-right">
          <%= link_to "Sign In", new_user_session_path, :class=>"btn btn-default" %>
          <%= link_to "Sign Up", new_user_registration_path, :class=>"btn btn-default" %>
        </div>
      <% end %>
    </div><!-- /.container -->
  </div>
<div class="container">
  <%= yield %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</div>
</html>
