<!DOCTYPE html>
<html>
<head>
  <title>Sp142ndm</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img class="navbar-brand" src="https://en.bitcoin.it/w/images/en/c/cb/BC_Logotype.png" alt="logo">
    </div>
    <% if user_signed_in? %>
    <p class="navbar-text navbar-right">Signed in as <%= current_user.email %>. Not you?
      <%= link_to "Sign Out", destroy_user_session_path, :method => :delete, :class=>"btn btn-default navbar-btn" %>
      <%= link_to "Edit Profile", edit_user_registration_path, :class=>"btn btn-default navbar-btn" %></p>
  <% else %>
    <p class="navbar-text navbar-right">
      <%= link_to "Sign In", new_user_session_path, :class=>"btn btn-default navbar-btn" %>
      <%= link_to "Sign Up", new_user_registration_path, :class=>"btn btn-default navbar-btn" %></p>
  <% end %>
    
  </div><!-- /.container-fluid -->
</nav>
<%= yield %>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
</body>
</html>
